{
  "presets": ["@babel/preset-react", "@babel/env"],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "react"
      ]
    }
  },
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": "css" }]]
}