@import "../../../index";

@menu-font: #ccc;
@hover-color: #00b4cf;
.warp {
  width: 270px;
  background: @dark-deep;
}

.menu {
  margin: 0;
  padding: 0;
  & li {
    height: 45px;
    line-height: 45px;
    list-style: none;
    cursor: pointer;
    & a {
      display: block;
      padding-left: 30px;
      color: @menu-font;
      &:hover {
        color: @hover-color;
        background: @dark;
      }
    }
  }
}
.menu-hover {
  color: @hover-color !important;
  background: @dark;
}