@yellow: #ff9a2a;
@green: #7fbc39;
@blue: #00b4cf;
@blue-deep: #01869a;
@dark: #435466;
@dark-deep: #2d4054;
@white: #f3f3f3;
@white-dark: #e1e4e6;

body {
  color: @dark-deep;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none !important;
}